@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #dfe6e9;
  --color-secondary: #2d3436;
}

@variant dark {
  --color-primary: #2d3436;
  --color-secondary: #dfe6e9;
}

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  html {
    color-scheme: light dark;
  }

  body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    @apply transition-colors duration-300;
  }
}
